<div
  class="bg-red-50 text-danger p-4 mb-6 rounded-lg shadow-sm border border-danger border-opacity-20"
  x-transition
>
  <div class="flex items-center">
    <svg
      class="h-5 w-5 mr-2 flex-shrink-0 text-danger"
      fill="currentColor"
      viewBox="0 0 20 20"
    >
      <path
        fill-rule="evenodd"
        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
        clip-rule="evenodd"
      ></path>
    </svg>
    <span class="text-sm sm:text-base" x-text="errorMessage"></span>
  </div>
  <button
    @click="errorMessage = ''"
    class="text-sm text-danger hover:text-danger mt-2 ml-7 focus:outline-none focus:underline"
  >
    Dismiss
  </button>
</div>
